In [ ]:

# Simulate values
roll1 = sample(1:6,1000,replace=TRUE)
roll2 = sample(1:6,1000,replace=TRUE)

# Put the two columns together ("cbind" stands for "column bind")
mydata = cbind(roll1,roll2)

# Change from a matrix to a data frame so that we can access elements
# using the names "roll1" and "roll2"
mydata = as.data.frame(mydata)

# Here is a subset of the data frame that you might want to look at.
# Recall that the squre brackets can be read as "such that".
mydata[mydata$roll1+mydata$roll2==5,]

    roll1 roll2
3   3     2
7   4     1
13  4     1
16  1     4
18  4     1
28  1     4
32  1     4
35  4     1
42  2     3
43  1     4
56  1     4
61  3     2
75  1     4
93  3     2
119 4     1
130 4     1
161 3     2
164 3     2
171 3     2
184 3     2
209 3     2
225 1     4
227 3     2
236 4     1
240 4     1
244 2     3
245 1     4
249 3     2
255 1     4
265 3     2
⋮   ⋮     ⋮
688 2     3
690 2     3
691 4     1
692 2     3
693 1     4
695 4     1
696 3     2
708 1     4
725 3     2
741 2     3
749 1     4
753 3     2
769 3     2
781 4     1
797 3     2
839 4     1
844 3     2
847 2     3
860 3     2
863 1     4
868 3     2
871 1     4
901 2     3
908 1     4
927 3     2
947 3     2
974 3     2
980 2     3
984 3     2
988 1     4

In [ ]:
# Calculate the probability P(A|B)
# Event B: At least one die shows a 4
B_cases = mydata[(mydata$roll1==4 | mydata$roll2==4),]
# Event A ∩ B: Sum equals 5 and at least one die is a 4
A_and_B_cases = B_cases[(B_cases$roll1 + B_cases$roll2 == 5),]
# Probability P(A|B)
P_A_given_B = nrow(A_and_B_cases) / nrow(B_cases)

# Print the result
print(paste("The simulated probability P(A|B) is", P_A_given_B))

[1] "The simulated probability P(A|B) is 0.16887417218543"